.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip-container {
    position: absolute;
    font-size: var(--font-size-s);
    line-height: var(--line-height-none);
    background-color: var(--c-text);
    color: var(--c-bg);
    padding: var(--gap-s);
    border-radius: var(--border-radius);
    white-space: nowrap;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip-container.visible {
    visibility: visible;
    opacity: 1;
}

